/* Slider code start from here  */

.Slider{
    background-image: url('https://deothemes.com/envato/sedona/html/img/revolution/home-1/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 95vw;
    height: 85vh;
    margin: auto;
    margin-bottom:30px;
    margin-top: 95px;
    display: flex;
    align-items: center;
    /* padding-left: 30px; */
}
.Slider .Content{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.Slider .Content h3{
    font-size: 3rem;
    position: relative;
}
.Slider .Content button{
    background-color: var(--TextColorYellow);
    width: 16%;
    height: 8%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.Slider .Arrow{
    background-color: #2A2929;
    opacity: 0.5;
    width: 35px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.Slider .Arrow:hover{
    background-color: var(--TextColorYellow);
    cursor: pointer;
}





@media (min-width: 601px) and (max-width: 1024px) {
    .Slider{
        align-items: center;
        padding-top: 50%;
        width: 90%;
        height: 65vh;
        background-size: 100% 100%;
        border: 2px solid;
        justify-content: space-between;
    }
    .Slider .Content{
        width: 80%;
        font-size: 1rem;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .Slider .Content button{
        width: 30%;
        font-size: 0.9rem;
    }
    .Slider .Content h3{
        font-size: 2rem;
    }

}

@media only screen and (max-width: 600px) {
    .Slider{
        align-items: center;
        padding-top: 50%;
        width: 90%;
        height: 65vh;
        background-size: 100% 100%;
        border: 2px solid;
        justify-content: space-between;
    }
    .Slider .Content{
        width: 80%;
        font-size: 1rem;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .Slider .Content button{
        width: 30%;
        font-size: 0.6rem;
    }
    .Slider .Content h3{
        font-size: 2rem;
    }
}

/* Home section 1 is started  */


.Home-section-1{
    padding: var(--LeftRightPadding);
    display: flex;
    }
    
    .Home-section-1 .section-1-1{
        padding-top: 8px;
        width: 50vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .Home-section-1 .section-1-1 h2{
        font-size: 2.5rem;
        line-height: 1.5rem;
    }
    
    .Home-section-1 .section-1-1 .Icons{
        width: 100%;
        display: flex;
        gap: 5rem;
        font-size: 1.2rem;
    } 
    .Home-section-1 .section-1-1 .Icons .Icon1,.Icon2,.Icon3{
        text-align: center;
    }
    .Home-section-1 .section-1-1 .Icons .Icon1 i,
    .Home-section-1 .section-1-1 .Icons .Icon2 i,
    .Home-section-1 .section-1-1 .Icons .Icon3 i{
        font-size: 3rem;
    }
    .Home-section-1 .section-1-2{
        width: 45vw;
        height: 70vh;
        background: url('https://deothemes.com/envato/sedona/html/img/intro/1.jpg') no-repeat;
        
    }

    @media (min-width: 601px) and (max-width: 1024px)  {
        .Home-section-1{
            flex-direction: column;
            align-items: center;
            }
            .Home-section-1 .section-1-1 .Icons{
                /* width: 100%;
                display: flex; */
                /* gap: 5rem; */
                font-size: 1rem;
            }
            .Home-section-1 .section-1-1 .Icons .Icon1 .iconSize{
                font-size: 2rem;
            }
            .Home-section-1 .section-1-1 .Icons .Icon2 .iconSize{
                font-size: 2rem;
            }
            .Home-section-1 .section-1-1 .Icons .Icon3 .iconSize{
                font-size: 2rem;
            }
            .Home-section-1 .section-1-2{
                width: 55vw;
            }
    }

    @media only screen and (max-width: 600px){
            .Home-section-1{
            flex-direction: column;
            align-items: start;
            }
            .Home-section-1 .section-1-1 .Icons{
                font-size: 0.8rem;
            }
            .Home-section-1 .section-1-1 .Icons .Icon1 .iconSize{
                font-size: 1.2rem;
            }
            .Home-section-1 .section-1-1 .Icons .Icon2 .iconSize{
                font-size: 1.2rem;
            }
            .Home-section-1 .section-1-1 .Icons .Icon3 .iconSize{
                font-size: 1.2rem;
            }
            .Home-section-1 .section-1-2{
                width: 60vw;
            }
    }